WA_PHONE_ID=
WA_TOKEN=
WA_VERIFY_TOKEN=

WHITELISTED_NUMBERS="XXXXXXXXX,XXXXXXXXX"

THERMAL_PRINTER_TYPE="SERIAL"

# For Thermal Printer via SERIAL
THERMAL_PRINTER_SOCKET="/dev/rfcomm0"

# For Thermal Printer via BLE
THERMAL_PRINTER_ADDR='XX:XX:XX:XX:XX:XX'
THERMAL_PRINTER_PORT=1

# For Thermal Printer via TCP
THERMAL_PRINTER_ADDR="192.168.XXX.XXX"
THERMAL_PRINTER_PORT=8000

THERMAL_PRINTER_PROFILE="ZJ-5870"

CUPS_SERVER_IP="192.168.XXX.XXX"
CUPS_PRINTER_NAME="Printer_Name"
SANE_NET_HOSTS="192.168.XXX.XXX"

PAPERLESS_POST_URL="https://paperless.example.com/api/documents/post_document/"
PAPERLESS_TOKEN="XXXXXXXXXXXX" # User Token from Paperless ngx with permission to create documents
PAPERLESS_WEBHOOK_TOKEN="XXXXXXXXXX" # Token for POST /notify webhook auth (x-api-key)
PAPERLESS_NOTIFICATION_NUMBERS="XXXXXXXXX,XXXXXXXXX" # Phone numbers to send notifications to

# If you use Cloudflare Access to protect the Paperless ngx API
# this is not needed if paperless in running on the same network
CF_ACCESS_CLIENT_ID="XXXXXXXXXXXXXXXX.access"
CF_ACCESS_CLIENT_SECRET="XXXXXXXXXXXXXXXXXX"
