WA_PHONE_ID=
WA_TOKEN=
WA_VERIFY_TOKEN=

# For Bluetooth Thermal Printer
PRINTER_ADDR='XX:XX:XX:XX:XX:XX'
PRINTER_PORT=1

# For Network Thermal Printer

PRINTER_ADDR="192.168.XXX.XXX"
PRINTER_PORT=8000

# For "managed" Bluetooth Thermal Printer
PRINTER_SOCKET="/dev/rfcomm0"

CUPS_SERVER_IP="192.168.XXX.XXX"
CUPS_PRINTER_NAME="Printer_Name"
SANE_NET_HOSTS="192.168.XXX.XXX"


WHITELISTED_NUMBERS="XXXXXXXXX,XXXXXXXXX"